# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
terraform/.builds/
crash.log
override.tf
override.tf.json
deploy.yml

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/
*.egg-info/

# AWS
*_accessKeys.csv
.aws-sam/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
